
@font-face {
    src: url("fonts/Painterz.ttf");
}

@font-face {

    src: url("fonts/Bombing.ttf");
}



.vista-inicial {
    -fx-background-image: url("images/microfono_old_school.jpg");
    -fx-background-size: 600 300;
}

.vista-seleccion {
   -fx-font-family: Painterz;
   -fx-background-color:
         #090a0c,
         radial-gradient(focus-distance 0% , center 50% 50% , radius 55%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

.label {
   -fx-font-family: Painterz;
   -fx-text-fill: linear-gradient( #e6f2ff, #d0d0d0);
}


#titulo {
    -fx-font-family: Bombing;
    -fx-font-size: 50px;
    -fx-text-fill: white;
}

.botonPrincipal {
    -fx-font-family: Bombing;
    -fx-font-size: 25px;
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}


.botonSecundario{
    -fx-font-family: Painterz;
    -fx-background-color: #660066;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.boton-secundario{
   -fx-padding: 5 10 5 10;
}

.button {
    -fx-font-family: Painterz;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-padding: 5 20 5 20;

}


.jfx-tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:  #1f1f2e;
}


.tab {
/*  -fx-pref-width: 210px;*/
  -fx-pref-height: 20px;
  -fx-font-size: 10;
  -fx-background-color:  #1f1f2e;
}

/*.tab:selected {
    -fx-background-color:blue ;
}*/

.casillero-acumulador {
    -fx-font-size: 12px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
}

.vista-puntaje {
/* -fx-background-color:
          radial-gradient(focus-distance 0% , center 50% 50% , radius 55%, rgba(49,98,125,1) 0%, rgba(19,28,34,1) 100%);*/
  -fx-background-color:
          #090a0c,
          radial-gradient(focus-distance 0% , center 50% 50% , radius 55%, rgba(114,131,148,0.9), rgba(255,255,255,0));
  /*  -fx-background-image: url("../resources/images/logoFMS.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-attachment: fixed;
    -fx-background-size: 100 100;*/
}

.casilla-puntaje {
    -fx-font-family: "Bookman";
    -fx-font-size: 11;
    -fx-padding: 1,1,1,1;
/*    -fx-border-color: #1a1aff;*/
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-border: gone;
    -fx-background-color:  white;
    -fx-text-fill:  #00004d;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.casilla-puntaje:focused {
    -fx-background-color: #aaff80;
    -fx-padding: 1.4,1.4,1.4,1.4;

    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.casillero {
    -fx-border-color: black;
}

.vista-round {
/*    -fx-border-color:   #f2f2f2;*/
}

.vista-tablero-competidor{
    -fx-border-color: #ffffff;

}

.check-box .box {

-fx-background-color: white;
-fx-border-radius: 3px;
-fx-padding:  0.01em 0.01em 0.02em 0.02em; ;

}

.check-box:selected .mark {

-fx-background-color: #3bb300;

}

.check-box:selected .box {

-fx-background-color: white;
-fx-padding: 0.02em 0.02em 0.03em 0.03em;;
}
