@font-face {
    src: url("../resources/fonts/Charnego.otf");

}

@font-face {

    src: url("../resources/fonts/TRON.TTF");
}


@font-face {
    src: url("../resources/fonts/Painterz.ttf");
}

@font-face {

    src: url("../resources/fonts/Bombing.ttf");
}


@font-face {

    src: url("../resources/fonts/THE_JACATRA.otf");
}

.anchor {
    -fx-background-image: url("../resources/images/microfono_old_school.jpg");
    -fx-background-size: 800 400;

}


#titulo {
    -fx-font-family: Bombing;
    -fx-font-size: 50px;
}

.botonPrincipal {
    -fx-font-family: Bombing;
    -fx-font-size: 25px;
    -fx-background-color: #000033;

}

.textoSecundario{
    -fx-font-family: Painterz;

}

.botonSecundario{
    -fx-font-family: Painterz;
    -fx-background-color: #99ff99;
}

.botonVotacion {

    -fx-font-family: Painterz;
}

.tab {
    -fx-pref-height: 20;
    -fx-font-size: 5;
}

.vista-puntaje {
   -fx-background-color: grey;

}

.casilla-puntaje {
    -fx-font-family: "Quicksand";
    -fx-padding: 1,1,1,1;
    -fx-border-color: #1a1aff;
    -fx-border-width: 1;
    -fx-border-radius: 1;
    -fx-border: gone;
    -fx-background-color: white;
    -fx-text-fill: green;
}

.casillero {
    -fx-border-color: black;
}

.vista-round {
    -fx-border-color:  #e6b800;
}

.vista-tablero-competidor{
    -fx-border-color: #ffffff;

}

.check-box .box {

-fx-background-color: white;
-fx-border-color:black;
-fx-border-radius: 2px;
-fx-padding:  0.01em 0.01em 0.02em 0.02em; ;

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #28a3f4;
-fx-padding: 0.02em 0.02em 0.03em 0.03em;;
-fx-border-color: white;
}
