@font-face {
    src: url("../resources/fonts/Charnego.otf");

}

@font-face {

    src: url("../resources/fonts/TRON.TTF");
}


@font-face {
    src: url("../resources/fonts/Painterz.ttf");
}

@font-face {

    src: url("../resources/fonts/Bombing.ttf");
}



.anchor {
    -fx-background-image: url("../resources/images/microfono_old_school.jpg");
    -fx-background-size: 800 400;

}


#titulo {
    -fx-font-family: Bombing;
    -fx-font-size: 50px;
}

.botonPrincipal {
    -fx-font-family: Bombing;
    -fx-font-size: 25px;
    -fx-background-color: #000033;

}

.textoSecundario{
    -fx-font-family: Painterz;

}

.botonSecundario{
    -fx-font-family: Painterz;
    -fx-background-color: #99ff99;
}

.botonVotacion {

    -fx-font-family: Painterz;
}

.tab {
    -fx-pref-height: 20;
    -fx-font-size: 5;

}

.casillero-acumulador {
    -fx-font-size: 12px;
    -fx-background-color:   #b3cce6;
    -fx-background-radius: 5px;
}


.vista-puntaje {
   -fx-background-color:  #a3c2c2;
}



.casilla-puntaje {
    -fx-font-family: "Bookman";
    -fx-padding: 1,1,1,1;
/*    -fx-border-color: #1a1aff;*/
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-border: gone;
    -fx-background-color:  white;
    -fx-text-fill:  #00004d;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.casilla-puntaje:focused {
    -fx-background-color: #aaff80;
    -fx-padding: 1.4,1.4,1.4,1.4;

    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.casillero {
    -fx-border-color: black;
}

.vista-round {
/*    -fx-border-color:   #f2f2f2;*/
}

.vista-tablero-competidor{
    -fx-border-color: #ffffff;

}

.check-box .box {

-fx-background-color: white;
-fx-border-radius: 3px;
-fx-padding:  0.01em 0.01em 0.02em 0.02em; ;

}

.check-box:selected .mark {

-fx-background-color: #3bb300;

}

.check-box:selected .box {

-fx-background-color: white;
-fx-padding: 0.02em 0.02em 0.03em 0.03em;;
}
