@font-face {
    src: url("../resources/fonts/Charnego.otf");

}

@font-face {

    src: url("../resources/fonts/TRON.TTF");
}


@font-face {
    src: url("../resources/fonts/Painterz.ttf");
}

@font-face {

    src: url("../resources/fonts/Bombing.ttf");
}


@font-face {

    src: url("../resources/fonts/THE_JACATRA.otf");
}

.anchor {
    -fx-background-image: url("../resources/images/microfono_old_school.jpg");
    -fx-background-size: 800 400;

}

#titulo {
    -fx-font-family: Bombing;
    -fx-font-size: 50px;
}

.botonPrincipal {
    -fx-font-family: Bombing;
    -fx-font-size: 25px;
    -fx-background-color: #000004;

}

.textoSecundario{
    -fx-font-family: Painterz;

}

.botonSecundario{
    -fx-font-family: Painterz;
}


